@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Sevillana&display=swap');

:root{
   --cor-de-fundo:#1ae4e4;
   --cor-de-texto:#ffffff;
   --fundo-senha:#faf408;
   --fundo-texto:#2edd89;
   --borda:#86a03e;
   --tipo-fonte: 
}

.cadeado{
   width: 10%;
}

.titulo{
   font-family: "Danfo", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 50px;
}

.subtitulo{
   font-family: "Sevillana", cursive;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

body{
 
   background-color: var(--cor-de-fundo);
   text-align: center;

}